$black: #000;
$white: #fff;


$theme-color: #004BAD;
$theme-text-black: #212529;
$border: #BFBFBF;
$theme-text-light: #EFF3F8;

$theme-text-black: #191919;


$theme-orange: #F8873C;
$theme-orange-red : #F8873C;
$menu-active-color: $theme-orange;
$sidemenu-active: #005DD6;

$light: #F0F0F0;
$light-bg: #F5F5F5;
$dark-grey-bg: #E9E9E9;
$dark-blue-text: #015072;


$gray-bg:#E0E0E0;
$dark-grey-text: #E5E5E5;
$light-yellow-bg: #FBFBFB;
$lightest-bg:#EEEEEE;
$text-light: #AFAFAF;
$search-text:#CCCCCC;


$border1: #c2c2c2;
$border-new:#EAECF6;
$border-light:#f0f0f0;
$placeholder-color: #AFAFAF;
$danger: #ff0000;
$active: #1AC468;
$dark-red: #c00000;
$text-danger: #E73939;
$thead-green: #80E2B2;
$thead-green-light: #E3F9EE;

$bg-green:#008080;
$bg-blue-light:#F8FBFF;
$bg-light:#F7F8F9;
$color-info: #06B0F0;
$color-success: #3BC52F;
$border-color:#00A3FF;


$anchor-color:#0070c0;


// screens for different devices
$desktop-xxl: "screen and (max-width: 1700px)";
$desktop-xl: "screen and (max-width: 1600px)";
$desktop-lg1: "screen and (max-width: 1500px)";
$desktop-lg: "screen and (max-width: 1400px)";
$desktop-md: "screen and (max-width: 1300px)";
$desktop-sm: "screen and (max-width: 1200px)";
$laptop-md: "screen and (max-width: 1100px)";
$laptop-sm: "screen and (max-width: 991px)";
$tablet-md: "screen and (max-width: 850px)";
$tablet-sm: "screen and (max-width: 767px)";
$mobile-lg: "screen and (max-width: 680px)";
$mobile-md: "screen and (max-width: 575px)";
$mobile-sm: "screen and (max-width: 480px)";
$mobile-xs: "screen and (max-width: 420px)";



// // Body
// $body-bg: #f8fafc;

// // Typography
// $font-family-sans-serif: 'Nunito', sans-serif;
// $font-size-base: 0.9rem;
// $line-height-base: 1.6;
